/*-> General styles */

/*-> Navbar styles */
nav {
  border: dashed 1px green;
}
div.content-wrapper {
  border: solid 1px palevioletred;
}
.menu-desplazable ul li {
  /* background-color: rgba(255, 0, 0, 0.3); */
}
.menu-desplazable ul li:hover {
}
.menu-desplazable ul li a {
  /* background-color: hotpink; */
}
/*-> Header styles */
header {
  border: dashed 1px blue;
}
/*-> Episodes section styles */
section.episodes {
  border: dashed 1px red;
}
.episodes-container {
  border: dashed 1px white;
}
.episodes-container h1 {
  border: dashed 1px cornflowerblue;
}
/*-> History section styles */
section.history {
  border: dashed 1px yellow;
}

/*-> Stellar guests section styles */
section.stellar-guests {
  border: dashed 1px crimson;
}
/*-> Our topics section styles */
section.our-topics {
  border: dashed 1px darksalmon;
}
/*-> Last novelties styles */
section.last-novelties {
  border: dashed 1px dimgray;
}
/*-> Footer styles */
footer {
  border: dashed 1px dodgerblue;
}
footer p {
  background-color: honeydew;
}
footer div {
  background-color: gainsboro;
}

/*-> MEDIA QUERIES START FROM HERE */
/* https://getflywheel.com/layout/css-breakpoints-responsive-design-how-to/ */
/* https://dev.to/rstacruz/what-media-query-breakpoints-should-i-use-292c */
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* @media (min-width: 640px) {
} */
@media (min-width: 768px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1024px) {
  /*992 is also used*/
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1440px) {
  /* hi-res laptops and desktops */
}
